@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
}
.container {
	margin: 10px auto;
	background-color: plum;
	width: 25%;
	text-align: center;
	padding: 20px;
	border-radius: 8px;
}

td {
	width: 100px;
	text-align: left;
	padding: 5px;
}

.label {
	font-weight: bolder;
}
